@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.6rem;
  margin: 0.63rem 1.3rem;
}


h2,
ul {
  margin: 0.63rem 0;
}

ul {
  list-style: none;
}

.cards-container {
}

.avatar {
  margin: 5px;
  border-radius: 50%;
  min-height: 4.38rem;
  background-color: goldenrod;
}

.profile {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 300px; /* O ajusta según tus necesidades */
  background-color: tomato;
}
